@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */

:root {
  --primary: #1b1b1b;
  --lighttext: #ffffff;
  --light: #fafafa;
  --darktext: #1b1b1b;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #1b1b1b;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: #ffffff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

#project-image {
  position: absolute;
  max-width: 100%;
}
