.post > ul {
  list-style: inside;
}

.post > ul > li {
  margin: 0.5rem 0 0.5rem 3rem;
}

.post > * {
  padding: 0.2rem;
  font-size: 1rem;
}

.post > blockquote {
  background: #313131;
  margin: 1rem 2.5rem;
  padding: 0.3rem 1rem 0.3rem 1.1rem;
  border-left: #6060ff solid 0.2rem;
}

.post > p {
  padding-left: 1.5rem;
  line-height: 1.7;
}

.post > h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0rem;
}

.post a {
  color: #018fbd;
}
.post a:hover {
  color: #00c1ff;
}

.post > h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
  margin-top: 3rem;
}

.post > h3 {
  margin-left: 1rem;
}

.post > hr {
  margin: 1rem 0rem;
}
