.post * {
  font-family: "Roboto", sans-serif;
}

.post *:not(semantics *, code, table *, p, span *, blockquote, ul li div img) {
  padding: 0.2rem;
}

.post ul,
.post ol {
  margin-left: 2.6rem;
}

.post strong {
  color: #d9959b;
}

.post blockquote {
  margin: 1rem 0.8rem;
  padding: 0.9rem 1.1rem;
  border-left: #6060ff solid 0.2rem;
}

.postLight blockquote {
  background: #d1d1d1;
}

.postDark blockquote {
  background: #acacac33;
}

.post table {
  text-align: center;
  background: #282c34;
  margin: 1rem 0 1rem 2.6rem;
  cursor: text;
}

.post table tr {
  text-align: center;
}

.post table th {
  padding: 0.5rem 1.5rem;
  border: 2px solid #a9a9a9;
}

.post table td {
  padding: 0.3rem 0.4rem;
  border: 2px solid #a9a9a9;
}

.post table td:first-child {
  text-align: center;
}

.post p {
  font-size: 1.1rem;
  padding-left: 1.5rem;
  line-height: 1.2rem;
  color: #ffffffee;
}

.post > p {
  margin: 1.2rem 0rem;
}

.post li > p {
  margin: 0.5rem 0rem;
  padding-left: 0.1rem;
}

.post span:not(button span) {
  padding: 0;
}

.post > h1,
.post > h2,
.post > h3,
.post > h4,
.post > h5,
.post > h6 {
  font-weight: bold;
}

.post > h1 {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 2.3rem;
}

.post > h2 {
  margin-left: 0.2rem;
  font-size: 1.8rem;
  margin-bottom: 0.1rem;
  margin-top: 3rem;
}

.post > h3 {
  margin-left: 0.3rem;

  font-size: 1.6rem;
}

.post > h4 {
  margin-left: 0.4rem;

  font-size: 1.4rem;
}

.post > h5 {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.post > h6 {
  margin-left: 0.6rem;
  font-size: 1rem;
}

.post > hr {
  margin: 1rem 0rem;
}

.post a {
  color: #018fbd;
}
.post a:hover {
  color: #00c1ff;
  underline: 1px solid #00c1ff;
}

.post ol {
  list-style-type: numeric;
  margin-left: 1.5rem;
}

.post pre > code {
  font-size: 1.1rem;
  border-radius: 1rem;
  line-height: 1.3rem;
  margin-left: 1.5rem;
  padding: 1.4rem 1rem;
}

.post code:not(pre *) {
  color: #d9959b;
  background: #282c34;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.post > *:not(h1, h2, h3, h4, h5, h6, table, ul, ol) {
  margin-left: 0.1rem;
}
